[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/directxtk"]
	path = external/directxtk
	url = https://github.com/microsoft/DirectXTK.git
